.burger-menu {
  display: flex;
  flex-direction: column;
  background-color: #062F53;
  width: 400px;
}

.burger-menu input {
  align-self: flex-end;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.burger-menu div {
  align-self: flex-end;
  background-color: white;
  height: 5px;
  width: 30px;
  margin: 2px;
}