.menu-button {
  align-items:center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 2.8rem;
  padding:2% 0 2% 10%;
  cursor: pointer;
  transition: .5s ease-in-out;
  width: 90%;
}

.menu-button p {
  color: white;
  height: 3rem;
  padding-top: .6rem;
  padding-left: .6rem;
}

.menu-button:hover{
  background-color: #fcc454;
}

.menu-button:hover p {
  color: #2B2D42;
}
