.page-input {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.page-number {
  width: 10px;
  margin: 0 10px;
}

.page-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.page-button {
  cursor: pointer;
}